html, body{
  overflow: hidden;
}
:root {
  --skillColorRGB: 92, 84, 201;
  --skillScore: 5vh;

  /* Bright Colors Of Spring Color Scheme */
  --colorSchema1: 255, 186, 66; /* Pastel Orange */
  --colorSchema2: 217, 59, 103; /* Cerise */
  --colorSchema3: 92, 84, 201; /* Iris */
  --colorSchema4: 37, 152, 176; /* Cyan Cornflower Blue */
  --colorSchema5: 59, 212, 176; /* Eucalyptus */
  --colorSchema6: 172, 245, 115; /* Inchworm */
}

body {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to left,
    rgb(16, 16, 16),
    rgb(32, 32, 32),
    rgb(16, 16, 16)
  );
  color: white;
}
.footer {
  transition: height 1s;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 5px solid rgb(34, 34, 68);
  z-index: 10;
  border-radius: 30px 30px 0 0;
  background: linear-gradient(
    to top,
    rgb(34, 34, 68),
    25%,
    rgba(0, 0, 0, 1) 50%
  );
  animation-name: footerOpening;
  animation-duration: 600ms;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 300px;
  background-color: black;
  border-bottom: 5px solid rgb(34, 34, 68);
  z-index: 2;
  border-radius: 0 0 30px 30px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  background: linear-gradient(
    rgba(34, 34, 68, 1),
    25%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.4) 75%
  );
  box-shadow: 0 2px 2px -2px rgb(34 34 68);
  animation-name: navOpening;
  animation-duration: 600ms;
  animation-timing-function: ease-out;
}
.nav .container {
  animation-name: innerNavOpening;
  animation-duration: 1200ms;
}
.navBottomBorder {
  position: fixed;
  top: 295px;
  background-color: rgb(34, 34, 68);
  height: 5px;
  width: 1140px;
  z-index: 9;
  box-shadow: 0 5px 20px 2px rgb(34 34 68);
  animation-name: innerNavOpening;
  animation-duration: 1200ms;
}
.fixedBio {
  height: 84px;
  max-height: 84px;
  min-height: 84px;
}
.profile {
  border-radius: 50%;
}

.nav .container {
  padding: 15px;
}
.contact a {
  margin-top: 4px;
  display: block;
}
.contact .fa {
  margin-left: 12px;
}
.contact a i {
  font-size: larger;
}
@media only screen and (max-width: 768px) {
  .contact a span {
    display: none;
  }
}
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.preMainParent {
  width: 100%;
  min-height: 150px;
  background: black;
}
.mainParent {
  padding: 0 6px;
  height: 100%;
  width: 100%;
  background: black;
}
@media only screen and (min-width: 1400px) {
  .mainParent {
    padding: 0 35px;
  }
  .nav .container {
    padding: 15px 35px;
  }
}
/* Blank Area For Bio in Nav */
.blankArea {
  min-height: 180px;
}
.mainParent {
  height: calc(100% - 150px);
}
/* For inVisible Scrollbar */
.mainParent {
  overflow-y: scroll;
  padding-right: 30px;
  width: calc(100% + 30px);
}

.innerContent {
  padding-left: 110px;
  padding-right: 15px;
  margin-top: -33px;
}
.innerContent p {
  color: lightgray;
}
.colTitle {
  min-width: 83px;
  max-width: 83px;
  max-height: 30px;
  margin: 6px;
  text-align: center;
  color: lightgray;
}
.colTitle:first-child {
  min-width: 74px;
  max-width: 74px;
}
.colTitle:not(:first-child) {
  font-size: smaller;
  border-bottom: 1px solid gray;
}
.experienceContent .contentTag::before {
  content: "Experience";
}
.educationContent .contentTag::before {
  content: "Education";
}
.hobbyContent .contentTag::before {
  content: "Hobby";
}
.content .filterSticky {
  border-radius: 10px 15px 15px 10px;
  text-align: right;
}
.content .filterSticky::after {
  content: " ○ ";
  color: rgba(var(--skillColorRGB)) !important;
}
.experienceContent .contentTag {
  --skillColorRGB: var(--colorSchema3);
}
.educationContent .contentTag {
  --skillColorRGB: var(--colorSchema3);
}
.hobbyContent .contentTag {
  --skillColorRGB: var(--colorSchema3);
}
.preSticky {
  display: block;
  width: 84px;
  padding: 4px;
  text-align: center;
  font-size: smaller;
  background: black;
}
.sticky {
  position: sticky;
  z-index: 3;
}
.skillSticky {
  max-height: 30px;
  white-space: nowrap;
  border-radius: 15px;
  color: rgba(var(--skillColorRGB)) !important;
  border: 1px solid rgba(var(--skillColorRGB));
  background-image: linear-gradient(
    90deg,
    rgba(var(--skillColorRGB), 0.4) var(--skillScore),
    calc(var(--skillScore) + 0.2vh),
    rgba(var(--skillColorRGB), 0.1) 100%
  );
}
.dateSticky {
  display: block;
  height: 66.6px;
  margin-left: 0px;
  top: 15px;
  background: black;
  color: gray;
  border-right: 1px solid gray;
}
.filterSticky {
  transition: background-color 1s;
  color: lightgray !important;
  border-radius: 10px;
  background-image: none;
  background-color: rgba(var(--skillColorRGB), 0.1);
  max-width: 92px;
  min-width: 92px;
}
.footer .filterSticky {
  cursor: pointer;
}
.filterSticky_active {
  background-color: rgba(var(--skillColorRGB), 0.4);
}
.filterSticky::before{
  content: " ☐ ";
}
.filterSticky_active::before{
  content: " ☑ ";
}
/* Positioning Stickies */
.content .skillSticky:not(:nth-child(2)) {
  margin-top: -30px;
}
.col00 {
  margin-left: 0px;
}
.row01 {
  top: 15px;
}
.col01 {
  margin-left: 96px;
}
.row02 {
  top: 48px;
}
.col02 {
  margin-left: 192px;
}
.row03 {
  top: 81px;
}
.col03 {
  margin-left: 288px;
}
.row04 {
  top: 114px;
}
.col04 {
  margin-left: 384px;
}
.row05 {
  top: 147px;
}
.col05 {
  margin-left: 480px;
}
.row06 {
  top: 180px;
}
.col06 {
  margin-left: 576px;
}

/* count of columns will be from 6 to 3 for Mobile */
@media only screen and (max-width: 576px) {
  .col06 {
    margin-left: 96px;
  }
  .row06 {
    top: 15px;
  }
  .col05 {
    margin-left: 192px;
  }
  .row05 {
    top: 60px;
  }
  .col04 {
    margin-left: 288px;
  }
  .row04 {
    top: 105px;
  }
}

:root {
  --containerSizing1: 540px;
  --containerSizing2: 720px;
  --containerSizing3: 960px;
  --containerSizing4: 1140px;
}

@media (max-width: 576px) {
  .navResponsive {
    max-width: var(--containerSizing1);
  }
  .navBottomBorder {
    max-width: calc(100% - 60px);
  }
}

@media (min-width: 576px) {
  .navResponsive {
    max-width: calc(var(--containerSizing1) + 60px);
  }
  .navBottomBorder {
    max-width: var(--containerSizing1);
  }
}
@media (min-width: 768px) {
  .navResponsive {
    max-width: calc(var(--containerSizing2) + 60px);
  }
  .navBottomBorder {
    max-width: var(--containerSizing2);
  }
}
@media (min-width: 992px) {
  .navResponsive {
    max-width: calc(var(--containerSizing3) + 60px);
  }
  .navBottomBorder {
    max-width: var(--containerSizing3);
  }
}
@media (min-width: 1200px) {
  .navResponsive {
    max-width: calc(var(--containerSizing4) + 60px);
  }
  .navBottomBorder {
    max-width: var(--containerSizing4);
  }
}

/*
@keyframes smoothbounceball {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 16px, 0);
  }
}
*/

@keyframes smoothBounce {
  0% {
    transform: translate3d(0, 0, 0);
    box-shadow: none;
  }
  33% {
    transform: translate3d(0, -8px, 0);
  }
  99% {
    transform: translate3d(0, 8px, 0);
  }
}
.animateBounce {
  animation: smoothBounce 0.3s 2;
  animation-direction: alternate;
}

@keyframes insetShadowBottom {
  0% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset 0 -10px 10px -10px #ffffff;
  }
}
.animateShadowBottom {
  animation: insetShadowBottom 0.3s 2;
  animation-direction: alternate;
}

@keyframes navOpening {
  0% {
    height: 0;
  }
  100% {
    height: 300px;
  }
}
@keyframes footerOpening {
  0% {
    height: 0;
  }
  100% {
    height: 60px;
  }
}
@keyframes innerNavOpening {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
